/* !!! */

.gifContainer{
    position: relative;
    top: 100px;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 800px;
    background-color: #F8F8F8;
}

.gifDiv{
    /* border: 1px solid red; */
    width: 20%;
}

.gif{
    width: 100%;
}

/* !!! */

.TotalContainer{
    /* border: 2px solid red; */
    position: absolute;
    top: 160px;
    width: 100%;
    min-height: 700px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    /* padding: 0px 20px 20px 20px; */
    /* background-color: #F2EEE3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* perspective: 10px; */
}

/* .TotalContainerTop{
    top: 100px;
} */

/* !!!!!!!!!!!!! */

.pageHeadingContainer{
    /* border: 1px solid red; */
    width: 100%;
    padding: 20px 50px 0px 50px;
}

.pageHeading{
    font-size: 170%;
    color: brown;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

/* !!!!!!!!!!!!! */

.newsListContainer{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    margin: 0px 10px 10px 10px;
}

.newsContainer{
    /* border: 1px solid red; */
    width: 350px;
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    cursor: pointer ;
    position: relative;
    
}

.newsContainer:hover .overlayDiv{
    opacity: 0.9;
    transform: translateY(0);
}

.overlayDiv{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: lightblue;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.overlayBtn{
    height: 30px;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    background-color: #D30720;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photoContainer{
    /* border: 1px solid green; */
    height: 200px;
    width: 320px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.subCategory{
    color: #D1071F;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.publishDiv{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subEditor, .time{
    font-weight: 500;
    color: rgb(94, 90, 90);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.buttonsContainer{
    /* border: 1px solid green; */
    display: flex;
    gap: 7px;
}

.numberBtnContainer{
    display: flex;
    gap: 5px;
}
 
.numberbtn, .prevButton, .nextButton {
    width: 30px;
    height: 30px;
    background-color: #645d5d;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
  
.numberbtn:focus,
.numberbtn:active {
  outline: none;
}
  
.activeBtn {
  background-color: #007bff;
  color: white;
}
   
.prevDisabled, .nextDisabled{
    background-color: lightgray;
}