.spinnerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: #F2EEE3;
}

.TotalContainer{
    /* border: 2px solid green; */
    position: relative;
    top: 100px;
    display: flex;
    gap: 15px;
    padding: 30px;
    background-color: #ECE2C8;
}

/* .TotalContainerTop{
    top: 60px;
} */

/* &&&&&&&& */

.confirmationDiv{
    position: fixed; /* Ensures it stays above the blurred content */
    z-index: 9999;    /* Higher than the blurred container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msg{
    color: #d30720;
}

.buttonsDiv{
    display: flex;
    gap: 10px;
}

.button{
    /* height: 30px; */
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.cancelBtn{
    background-color: #171750;
}

.deleteBtn{
    background-color: #D1071F;
}

/* !!!! */
.singleNewscontainer{
    /* border: 1px solid red; */
    width: 67%;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    padding-top: 30px;
}

.singleNewscontainerBlurred{
    filter: blur(15px);
    pointer-events: none;
}

.singleNewsCategory{
    color: #D1071F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.singleNewsSubCategorySaveDiv{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleNewsSubCategory{
    color: #D1071F;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.singleNewsBtnsDiv{
    /* border: solid yellow; */
    display: flex;
    gap: 5px;
}

/* .overlayBtnDiv{
    border: 1px solid green;
} */

.singleNewsBtn{
    height: 25px;
    padding: 5px 5px;
    border-radius: 0px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    background-color: #171750;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.singleNewsBtn:hover{
    background-color: #d30720;
}

.singleNewsHeadingDiv{
    margin: 10px 0px;
}

.singleNewsHeading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.singleNewsSubEditordiv{
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.singleNewsSubEditor, .time{
    color: gray;
    font-weight: 400;
    color: #D1071F;
}

.singleNewsSubEditor{
    color: #171750;
}

.singleNewsSummaryDiv{
    margin: 20px 0px;
}

.singleNewsSummary{
    font-family: "Besley", serif;
    font-style: italic;
    line-height: 23px;
    font-weight: 500;
    color: rgb(43, 43, 43);
}

.singleNewsPhotoDiv{
    /* border: 2px solid yellow; */
    width: 100%;
}

.singleNewsPhoto{
    width: 100%;
}

.singleNewsLocation{
    font-family: "Besley", serif;
}

/* &&&&&&&&&&&&&&&&& */

.allNewsContainer{
    /* border: 1px solid blue; */
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 10px;
    background-color: #E4E3F2;
    overflow: hidden;
}

.allNewsContainerBlurred{
    filter: blur(5px);
    pointer-events: none;
}

.newsContainer{
    /* border: 1px solid red; */
    /* width: 350px; */
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    cursor: pointer;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photoContainer{
    /* border: 1px solid green; */
    height: 200px;
    width: 320px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.subCategorySaveDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.subCategory{
    color: #D1071F;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bookmark{
    color: #D1071F;
    cursor: pointer;
}

.Heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.publishDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subEditor, .time{
    font-weight: 500;
    color: rgb(94, 90, 90);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
